@model E_Commerce.Models.Shipper

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Shipper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.shipperName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipperName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipperDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipperDetail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.shipper_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
