@model IEnumerable<E_Commerce.Models.Product>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container pb-5">
    <h2 style="text-align:center;">Products</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0">

        <tr>

            <th>
                @Html.DisplayNameFor(model => model.photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.productViewed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productIsProved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand.brandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.categoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.companyName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img width="75" height="80" src="@item.photo" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productViewed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productIsProved)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Brand.brandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.companyName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.product_id }, new { @class = "btn btn-success" })

                @Html.ActionLink("Delete", "Delete", new { id = item.product_id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }

    </table>

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

</div>
