@model IEnumerable<E_Commerce.Models.Product>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Header End====================================================================== -->
    <div id="carouselBlk">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">

                <div class="item ">
                    <div class="container">
                        <a href="/"><img style="width:100%" src="~/Content/themes/images/carousel/2.png" alt="" /></a>
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <a href="/"><img src="~/Content/themes/images/carousel/3.png" alt="" /></a>
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>

                    </div>
                </div>
                <div class="item ">
                    <div class="container">
                        <a href="/"><img src="~/Content/themes/images/carousel/4.png" alt="" /></a>
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>

                    </div>
                </div>
                <div class="item active">
                    <div class="container">
                        <a href="/"><img src="~/Content/themes/images/carousel/5.png" alt="" /></a>
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <a href="/"><img src="~/Content/themes/images/carousel/6.png" alt="" /></a>
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="mainBody">
        <div class="container">
            <div class="row">
                <!-- Sidebar ================================================== -->
                <div id="sidebar" class="span3">
                    <div class="well well-small"><a id="myCart" href="@Url.Action("ProductCart", "Home")"><img src="~/Content/themes/images/ico-cart.png" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>
                    @using (Html.BeginForm("ProductSearch", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        <div class="input-group">
                            <input class="form-control" name="Search" type="text" placeholder="Search" aria-label="Search" style="width:255px;">

                        </div>

                    }

                    <h3 style="text-align:center; color:white; background-color:#acacac;">Categories</h3>

                    @{

                        Html.RenderAction("CategoryPartial", "Home");
                    }

                    <br />
                    <h3 style="text-align:center; color:white; background-color:#acacac;">Brands</h3>

                    @{

                        Html.RenderAction("BrandPartial", "Home");
                    }


                </div>

                <!-- Sidebar end=============================================== -->
                <div class="span9">
                    <div class="well well-small">
                        @{
                            Html.RenderAction("MostViewProductPartial", "Home");
                        }


                    </div>
                    <h4>Latest Products </h4>
                    <ul class="thumbnails">


                        @foreach (var item in Model)
                        {
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="/Home/ProductDetail/@item.product_id"><img src="@item.photo" style="width:160px; height:160px;" alt="" /></a>
                                    <div class="caption">
                                        <h5>@item.productName</h5>
                                        <p>
                                            @item.productName
                                        </p>

                                        <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$ @item.price</a></h4>
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- Footer ================================================================== -->
    <!-- Placed at the end of the document so the pages load faster ============================================= -->
    <!-- Themes switcher section ============================================================================================= -->


</body>
</html>