@model E_Commerce.Models.Product_Photo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product_Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.photo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.productName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productPhoto_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
