@model E_Commerce.Models.Campaign

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.discountRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discountRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compaignDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compaignDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.productName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.campaign_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
