@model IEnumerable<E_Commerce.Models.Campaign>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container pb-5">
    <h2 style="text-align:center;">Campaigns</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.discountRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.compaignDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.productName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.discountRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.compaignDetail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.productName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.campaign_id }, new { @class = "btn btn-success" })

                    @Html.ActionLink("Delete", "Delete", new { id = item.campaign_id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
    </div>
